$yellow: #E3B873; 

%header-font {
    font-family: "FuturaBookC", "Roboto", sans-serif;
    font-size: 0.875rem;
    line-height: 1rem;
}

%flex {
    display: flex;
    align-items: center;
}

@media (min-width: 376px) {
    .top-image-mobile {
        display: none;
    }
    .image-mobile {
        display: none;
    }
}
.body {
    overflow: hidden;
}
.container {
    max-width: 88%;
    margin: 0 auto;
}
.header {
    background-color: #131313;

    &__wrapper {
        @extend %flex;
        height: 83px;
        justify-content: space-between;
    }
    &__logo {
        font-weight: 600;
        @extend %header-font;
        text-transform: uppercase;
        flex-shrink: 0;
    }
    &__phone {
        @extend %header-font;
        color: $yellow;
        text-decoration-line: underline;
        font-weight: 550;
        flex-shrink: 0;  
    }
    &__request-call {
        background: #E3B873;
        border: 0;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border-radius: 2px;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 12em;
        height: 2.3em;
        font-weight: 550;
        cursor: pointer;
    }
}
.header-list {
    display: flex;
    justify-content: space-between;

    &__item {
        @extend %header-font;
        color: #fff;
        text-transform: uppercase;
        padding: 1em 1.5em;
    }
}
.active {
    color: $yellow;
    cursor: pointer;
} 
.yellow {
    color: $yellow;
}
.top-application {
    background-color: #131313;
    display: flex;
    position: relative;
}
.scroll {
    width: 247px;
    height: 97px;
    background-color: #131313;
    position: absolute;
    bottom: -48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.scroll h3 {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: "Yeseva One", "Arial", sans-serif;
    margin-right: 15px;
}
.tops {
    width: 94%;
}
.top-image {
    float: right;
}
.instagram {
    width: 6%;
    color: $yellow;
    writing-mode: vertical-rl;
    @extend %flex;
    @extend %header-font;
    justify-content: center;
    text-transform: uppercase;
}
.top-offer {
    background-image: url(assets/top-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 13%;
    padding-bottom: 13%;
    padding-left: 5%;
}
.top-offer h2 {
    font-family: "Yeseva One", "Arial", sans-serif;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.top-offer p {
    font-family: "FuturaBookC", "Roboto", sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 2%;
}
.calculate-button {
    background: #E3B873;
    border: 0;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 207px;
    height: 51px;
    font-weight: 550;
    cursor: pointer;
    margin-top: 3%;
}
.submit-button {
    margin-top: 3%;
    margin-left: 1%;
    background: none;
    border: 1px #fff solid;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 207px;
    height: 51px;
    font-weight: 550;
    cursor: pointer;
}
.completed-projects {
    background-color: #131313;
    border-bottom: 3px solid #131313;

    &__row {
        display: flex;
    } 
    &__list {
        display: flex;
        padding-top: 70px;
        padding-left: 40%;
        padding-bottom: 35px;
        width: 623px;
        justify-content: space-between;
        color: rgba(255, 255, 255, 0.500);
        font-family: "Yeseva One", "Arial", sans-serif;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
    }
    &__list-item-active {
        color: $yellow;
        opacity: 1;
        text-decoration-line: underline;
        cursor: pointer;
    }
    &__list-item:hover {
        color: $yellow;
        cursor: pointer;
    }
    &__data {
        width: 442px;
        height: 390px;
        color: #fff;
        padding-left: 6%; 
    }
    &__grid {
        display: grid;
        grid-gap: 34px;
    }
    &__grid-item-1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    &__grid-item-1 p {
        font-size: 16px !important;
        line-height: 27px !important;
    }
    &__data h2, h3 {
        text-transform: uppercase;
        color: $yellow;
        font-weight: 550;
    }
    &__data h2 {
        font-size: 27px;
        line-height: 37px;
        padding-bottom: 15px;
    }
    &__data h3 {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    &__grid p {
        font-size: 15px;
        line-height: 20px;
        font-family: "FuturaBookC", "Roboto", sans-serif;
    }
    &__carousel-points {
        margin-top: 85px;
        @extend %flex;
        justify-content: space-between;
        width: 230px;
    }
    &__carousel-arrows {
        height: 20px;
        width: 35px;
        cursor: pointer;
        filter: brightness(5);
    }
    .left-arrow {
        transform: rotate(180deg);
    }
    &__wow {
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.3);
        width: 10px;
        height: 10px;
        left: 50%; 
        display: inline-block;  
    }
    &__wow:hover {
        background-color: #FFFFFF; 
    }
    &__wow.active {
        background-color: #fff;
    } 
    &__images {
        margin-left: 44px;
    }
    &__commode {
        position: relative;
    }
    &__arrow {
        position: absolute;
        transform: rotate(-90deg);
        width: 40px;
        top: 45%;
        right: 20%;
    }
    &__arrow:hover {
        cursor: pointer;
    }
    &__icon {
        padding-top: 90px;
    }
    &__icon h4 {
        color: #FFFFFF;
        font-family: "Yeseva One", "Arial", sans-serif;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase; 
    }
    &__video-icon {
        @extend %flex;
        justify-content: center;
    }
    &__video-icon img {
        padding: 15px;
    }
}
.yellow-line {
    background-color: $yellow;
    width: 30px;
    height: 1px;
}
.iframe {
    @extend %flex;
    justify-content: center;
}
.form {
    margin-bottom: 50px;

    &__description {
        width: 54%;
        font-family: "FuturaBookC", "Roboto", sans-serif;
        font-size: 20px;
        line-height: 34px;
        text-align: center;
        color: #363636;
        margin-left: 25%;
    }
    &__yellow-line {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 50%;
        width: 50px;
    }
}
.submit-button {
    border: 0;
    border-radius: 5px;
    background-color: #E3B873;
}
.form-input {
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    font-family: "FuturaBookC", "Roboto", sans-serif;
    color: #363636;
    font-size: 18px;
    line-height: 24px;
}
.submit-form {
    margin-top: 7%;
    margin-left: 28%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 780px;
    
    &__item {
    font-family: "FuturaBookC", "Roboto", sans-serif;
    color: rgba(54, 54, 54, 0.5);
    font-size: 15px;
    line-height: 20px;  
    }
}
.check-box {
    font-family: "FuturaBookC", "Roboto", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #181818;
    margin-top: 20px;
    margin-left: 40%;
}
.check-box-mobile {
    display: none;
}
.repair-types {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 200px;
    
    &__block {
        position: relative;
        width: 392px;
        display: flex;
        justify-content: center;
    }
    .first {
        background-image: url(assets/type1.png);
    }
    .second {
        background-image: url(assets/type2.png);
    }
    .third {
        background-image: url(assets/type3.png);
    }
    ul {
        list-style: inside;
    }
    &__text {
        background-color: #FFFFFF;
        font-family: "FuturaBookC", "Roboto", sans-serif;
        font-size: 15px;
        line-height: 25px;
        color: #959595;
        width: 250px;
        padding: 20px;
        margin-top: 180px;   
    }
    .bottom {
        position: absolute;
        bottom: -180px;
    }
    &__text h3 {
        font-size: 18px;
        line-height: 25px;
        color: #363636;
        font-family: "Yeseva One", "Arial", sans-serif;
    }
}

 /* MOBILE */ 

@media (max-width: 375px) {
    .header {
        &__request-call {
            display: none;
        }
        &__menu {
            display: none;
        }
        &__phone {
            color: #fff;
            text-decoration-line: none;
        } 
    }
    .container {
        max-width: 340px;
        margin: 0 auto;
    }
    .tops {
        width: 100%;
    }
    .top-image {
        display: none;
    }
    .instagram {
        display: none;
    }
    .top-offer {
        background-image: url(assets/top-image-mobile.png);
        background-repeat: no-repeat;
        padding-top: 20%;
    }
    .top-offer h2 {
        font-size: 23px;
        line-height: 31px;
    }
    .top-offer p {
        font-size: 18px;
        line-height: 24px;
        width: 90%;
        padding-bottom: 4%;
    }    
    .calculate-button, .submit-button {
        width: 338px;
        margin-left: 0;
        margin-top: 20px;
    }
    br {
        display: none;
    }
    .scroll {
        display: none;
    }
    .completed-projects {
        &__cities {
            display: none;
        }
        &__images {
            display: none;
        }
        &__data {
            padding-left: 0%;
            text-align: left;
            height: 700px;
        }
        &__data h2 {
            font-size: 29px;
            text-align: center;
            padding-top: 15px;
        }
        &__data h3 {
            font-size: 17px;
        } 
        &__grid {
            padding: 18px;
        }
        &__grid p {
            font-size: 14px;
        }
        &__grid-item-1 p {
            font-size: 13.5px !important;
            text-align: center;
        }
        &__carousel-points {
            display: none;
        }
    }  
    .form {
        background-color: #131313;

        &__description {
            width: 90%;
            margin: 0;
            color: #fff;
            font-size: 14px;
            padding: 15px;
        }  
    }    
    .yellow-line {
        margin-top: 0;
        margin-left: 45%;
    }
    .submit-form {
        width: 90%;
        margin-left: 0;
        display: block;
        padding: 20px;

        &__item{
            color: rgba(255, 255, 255, 0.5);
            display: grid;
            padding-bottom: 40px;
        }
    }
    .form-input {
        border-bottom: 1px solid white;
        color: #fff;
        background-color: #131313;
    }
    .check-box {
        display: none;
    }
    .check-box-mobile {
        color: #fff;
        display: block;
    }
    .repair-types {
        display: block;
        margin: 0;
        
        .bottom {
            position: relative;
            bottom: 0px;
        }
        &__block {
            width: 360px;
            margin: 10px;
        }
        .submit-button {
            display: none;
        }
    }
}