$yellow: #E3B873; 

%header-font {
    font-family: "FuturaBookC", "Roboto", sans-serif;
    font-size: 0.875rem;
    line-height: 1rem;
}

%flex {
    display: flex;
    align-items: center;
}

@media (min-width: 376px) {
    .top-image-mobile {
        display: none;
    }
}

.container {
    max-width: 88%;
    margin: 0 auto;
}

.header {
    background-color: #131313;

    &__wrapper {
        @extend %flex;
        height: 83px;
        justify-content: space-between;
    }

    &__logo {
        font-weight: 600;
        @extend %header-font;
        text-transform: uppercase;
        flex-shrink: 0;
    }

    &__phone {
        @extend %header-font;
        color: $yellow;
        text-decoration-line: underline;
        font-weight: 550;
        flex-shrink: 0;  
    }
    &__request-call {
        background: #E3B873;
        border: 0;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border-radius: 2px;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 12em;
        height: 2.3em;
        font-weight: 550;
        cursor: pointer;
    }
}

.header-list {
    display: flex;
    justify-content: space-between;
    
    &__item {
        @extend %header-font;
        color: #fff;
        text-transform: uppercase;
        padding: 1em 1.5em;
    }
}

.active {
    color: $yellow;
    cursor: pointer;
} 

.yellow {
    color: $yellow;
}

.top-application {
    background-color: #131313;
    display: flex;
}

.tops {
    width: 94%;
}

.top-image {
    float: right;
}

.instagram {
    width: 6%;
    color: $yellow;
    writing-mode: vertical-rl;
    @extend %flex;
    @extend %header-font;
    justify-content: center;
    text-transform: uppercase;
}

.top-offer {
    background-image: url(assets/top-image.png);
    background-repeat: no-repeat;
    padding-top: 13%;
    padding-bottom: 16%;
    padding-left: 5%;
}
.top-offer h2 {
    font-family: "Yeseva One", "Arial", sans-serif;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.top-offer p {
    font-family: "FuturaBookC", "Roboto", sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 2%;
}
.calculate-button {
    background: #E3B873;
    border: 0;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 207px;
    height: 51px;
    font-weight: 550;
    cursor: pointer;
    margin-top: 3%;
}
.submit-button {
    margin-top: 3%;
    margin-left: 1%;
    background: none;
    border: 1px #fff solid;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 207px;
    height: 51px;
    font-weight: 550;
    cursor: pointer;
}

@media (max-width: 375px) {
    .header {
        &__request-call {
            display: none;
        }

        &__menu {
            display: none;
        }

        &__phone {
            color: #fff;
            text-decoration-line: none;
        } 
    }
    .container {
        max-width: 340px;
        margin: 0 auto;
    }
    .tops {
        width: 100%;
    }
    .top-image {
        display: none;
    }
    .instagram {
        display: none;
    }
    .top-offer {
        background-image: url(assets/top-image-mobile.png);
        background-repeat: no-repeat;
        padding-top: 20%;
    }
    .top-offer h2 {
        font-size: 23px;
        line-height: 31px;
    }
    .top-offer p {
        font-size: 18px;
        line-height: 24px;
        width: 90%;
        padding-bottom: 4%;
    }    
    .calculate-button, .submit-button {
        width: 338px;
        margin-left: 0;
        margin-top: 20px;
    }
    br {
        display: none;
    }
}
